h1 {
	color: #FFFFFF;
	background-color: black;
	text-align: center;
}

ol{
	list-style-type: upper-roman;
}

table{
	border: 5px solid black;
}

#sidebar{
	width: 100px;
	height: 191px;
	float: left;
}

header{
	width: 392px;
	height: 50px;
	float: left;
	margin-bottom: 20px;
}

article{
	padding: 20px;
	border: 5px solid black;
	float: left;
}

article img{
	margin: 10px;
	float: right;
}

footer{
	background-color: black;
	text-align: center;
	float: left;
}

footer a{
	color: red;
}